<div *ngIf="showModal"
     class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          {{ title }}
        </h3>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <p class="my-4 text-slate-500 text-lg leading-relaxed">
          {{ message }}
        </p>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-3 border-t border-solid border-slate-200 rounded-b">
        <div *ngFor="let button of buttons">
          <button type="button"
                  [ngClass]="button.class"
                  (click)="exitModal(button.value)"
                  class="mr-3 ml-2 inline-flex items-center px-4 py-2 border-r-0 border-transparent rounded-md shadow-sm
            text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2">
            {{ button.text }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>`

