<div class="dashboard-content">
  <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-gray-900">Configuration</h1>
      <div class="mt-2 flex items-center text-sm text-gray-500">
        Configure your project
      </div>
    </div>

  </header>
  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <!-- Replace with your content -->
      <div class="px-4 py-6 sm:px-0">
        <div class="bg-white border-round p-4">
          <form action="#" method="POST">
            <div class="overflow-hidden sm:rounded-md">
              <div class="col-span-6 sm:col-span-3 w-3">
                <label for="project-name" class="block text-sm font-medium text-gray-700">Project name</label>
                <input type="text" name="project-name" id="project-name" [(ngModel)]="name" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>
              <div class="col-span-6 sm:col-span-3 w-3 mt-3">
                <label class="block text-sm font-medium text-gray-700">Authorized Servers</label>
                <div *ngFor="let server of authorizedServer" class="mt-1 flex rounded-md">
                  <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-sm">{{server.ip}}</span>
                  <button (click)="removeServer(server)" type="button" class="bg-white py-2 px-3 border border-gray-300 rounded-r-md shadow-sm hover:bg-gray-50 focus:outline-none">
                    <svg style="transform: scale(1.2)" xmlns="http://www.w3.org/2000/svg" class="h-5" viewBox="0 0 20 20" fill="darkred">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="mt-1 flex rounded-md">
                <input [(ngModel)]="ipInputField" name="addServer" type="text" class="mt-1 w-3 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-l-md">
                <button [disabled]="ipInputField == ''" (click)="addIp()" type="button" class="inline-flex items-center mt-1 px-4 py-2 border-r-0 border-transparent rounded-r-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  <svg xmlns="http://www.w3.org/2000/svg" class="-ml-1 mr-2 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                  </svg>
                  Add
                </button>
              </div>
              <button (click)="save()" type="button" class="mt-4 inline-flex items-center mt-1 px-4 py-2 border-r-0 border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="-ml-1 mr-2 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
                </svg>
                Save
              </button>
            </div>
          </form>
        </div>

      </div>
      <!-- /End replace -->
    </div>
  </main>
</div>
