/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: normal;
}

body {
  margin: 0;
  background-color: #eff3f8;
}

:root
{
  --primary: darkcyan;
}

.dashboard-content {
  margin-left: 200px;
}

@media (max-width: 1250px) {
  .dashboard-content {
    margin-left: 90px;
  }
}

/* adjust the padding of all buttons inside the file upload button bar */
.p-fileupload-choose {
  font-size: 0.8em!important;
  padding: 0.5rem 1em!important;
}

.p-fileupload-buttonbar > .p-element > .p-element {
  font-size: 0.8em!important;
  padding: 0.5rem 1em!important;

}

.p-fileupload-buttonbar > .p-button-label  {
  display: none;
}
  /* increase fileupload button spacing between 'choose' and 'upload' */
.p-fileupload-buttonbar .p-fileupload-choose {
  margin-right: 10em;
}

/* remove the border of file upload content list */
.p-fileupload-content {
  border: 0 none;
}

.p-button {
  background-color: var(--indigo-600)!important;
}
